services:
    web:
        build: .
        command: server
        volumes:
            - .:/app
            - dome_data:/app/data
        ports:
            - "8000:8000"
        environment:
            - DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

volumes:
    dome_data:
