{% extends "base.html" %}
{% load static %}
{% block title %}
    Track your media
{% endblock title %}
{% block content %}
    <section class="overflow-hidden dd-bg-index-hero-pattern bg-repeat">
        <div class="bg-black/25 p-8 md:p-12 lg:px-16 lg:py-24">
            <div class="text-center">
                <h2 class="text-2xl font-bold text-white sm:text-3xl md:text-5xl">Comprehensive media tracker</h2>
                <p class="text-white/90 md:mt-6 md:text-lg md:leading-relaxed">
                    Track, rate and review all your favorite media in one place.
                </p>
                <div class="grid grid-cols-2 md:flex md:flex-row justify-center gap-4">
                    <div class="mt-4 sm:mt-8">
                        <a href="{% url 'entities:entities-list' 'movies' %}" class="btn">Movies</a>
                    </div>
                    <div class="mt-4 sm:mt-8">
                        <a href="{% url 'entities:entities-list' 'shows' %}" class="btn">Shows</a>
                    </div>
                    <div class="mt-4 sm:mt-8">
                        <a href="{% url 'entities:entities-list' 'books' %}" class="btn">Books</a>
                    </div>
                    <div class="mt-4 sm:mt-8">
                        <a href="{% url 'entities:entities-list' 'games' %}" class="btn">Games</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="pt-4 overflow-hidden">
        <div class="container px-4 mx-auto">
            <div>
                <span class="inline-block py-px px-2 mb-4 text-xs leading-5 text-indigo-500 bg-indigo-100 font-medium uppercase rounded-full shadow-sm">Features</span>
                <h1 class="mb-4 text-2xl md:text-3xl leading-tight font-bold tracking-tighter">
                    Discover, Track, and Rate Your Media Adventures
                </h1>
                <p class="text-gray-500">Digital Dome is your ultimate hub for all media-related activities.</p>
            </div>
            <div class="flex flex-wrap lg:items-center -mx-4">
                <div class="w-full md:w-1/2 px-4 mb-8 md:mb-0">
                    <div class="flex flex-wrap p-4 text-center md:text-left hover:bg-white rounded-md hover:shadow-xl transition duration-200">
                        <div class="w-full md:w-auto mb-6 md:mb-0 md:pr-6">
                            <div class="inline-flex h-14 w-14 mx-auto items-center justify-center text-white bg-indigo-500 rounded-lg">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     width="32"
                                     height="32"
                                     viewBox="0 0 256 256">
                                    <path fill="currentColor" d="M128 26a102 102 0 1 0 102 102A102.12 102.12 0 0 0 128 26Zm0 192a90 90 0 1 1 90-90a90.1 90.1 0 0 1-90 90Zm45.32-143.37l-64 32a6 6 0 0 0-2.69 2.69l-32 64A6 6 0 0 0 80 182a6.06 6.06 0 0 0 2.68-.63l64-32a6 6 0 0 0 2.69-2.69l32-64a6 6 0 0 0-8.05-8.05Zm-33.79 64.9l-46.11 23.05l23-46.11l46.11-23Z" />
                                </svg>
                            </div>
                        </div>
                        <div class="w-full md:flex-1 md:pt-3">
                            <h3 class="mb-4 text-xl md:text-2xl leading-tight text-gray-900 font-bold">Explore new worlds</h3>
                            <p class="text-gray-500 font-medium">Dive into a vast collection of movies, games, shows, and more!</p>
                        </div>
                    </div>
                    <div class="flex flex-wrap p-4 text-center md:text-left hover:bg-white rounded-md hover:shadow-xl transition duration-200">
                        <div class="w-full md:w-auto mb-6 md:mb-0 md:pr-6">
                            <div class="inline-flex h-14 w-14 mx-auto items-center justify-center text-white bg-indigo-500 rounded-lg">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     width="32"
                                     height="32"
                                     viewBox="0 0 24 24">
                                    <path fill="currentColor" d="M5 14v-1h7v1H5Zm0-4V9h11v1H5Zm0-4V5h11v1H5Zm8.23 13v-2.21l5.333-5.307q.149-.148.306-.2t.315-.052q.172 0 .338.064q.165.065.301.193l.925.945q.123.148.188.307q.064.16.064.32t-.062.322q-.061.162-.19.31L15.44 19h-2.21Zm6.885-5.94l-.925-.945l.925.945Zm-6 5.055h.95l3.468-3.473l-.47-.475l-.455-.488l-3.493 3.486v.95Zm3.948-3.948l-.455-.488l.925.963l-.47-.475Z" />
                                </svg>
                            </div>
                        </div>
                        <div class="w-full md:flex-1 md:pt-3">
                            <h3 class="mb-4 text-xl md:text-2xl leading-tight text-gray-900 font-bold">Track your journey</h3>
                            <p class="text-gray-500 font-medium">
                                Easily keep track of what you've planned, what you're currently enjoying, and what you've completed.
                            </p>
                        </div>
                    </div>
                    <div class="flex flex-wrap p-4 text-center md:text-left hover:bg-white rounded-md hover:shadow-xl transition duration-200">
                        <div class="w-full md:w-auto mb-6 md:mb-0 md:pr-6">
                            <div class="inline-flex h-14 w-14 mx-auto items-center justify-center text-white bg-indigo-500 rounded-lg">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     width="32"
                                     height="32"
                                     viewBox="0 0 24 24">
                                    <path fill="currentColor" d="M18 16.08c-.76 0-1.44.3-1.96.77L8.91 12.7c.05-.23.09-.46.09-.7s-.04-.47-.09-.7l7.05-4.11c.54.5 1.25.81 2.04.81c1.66 0 3-1.34 3-3s-1.34-3-3-3s-3 1.34-3 3c0 .24.04.47.09.7L8.04 9.81C7.5 9.31 6.79 9 6 9c-1.66 0-3 1.34-3 3s1.34 3 3 3c.79 0 1.5-.31 2.04-.81l7.12 4.15c-.05.21-.08.43-.08.66c0 1.61 1.31 2.91 2.92 2.91s2.92-1.3 2.92-2.91s-1.31-2.92-2.92-2.92M18 4c.55 0 1 .45 1 1s-.45 1-1 1s-1-.45-1-1s.45-1 1-1M6 13c-.55 0-1-.45-1-1s.45-1 1-1s1 .45 1 1s-.45 1-1 1m12 7c-.55 0-1-.45-1-1s.45-1 1-1s1 .45 1 1s-.45 1-1 1Z" />
                                </svg>
                            </div>
                        </div>
                        <div class="w-full md:flex-1 md:pt-3">
                            <h3 class="mb-4 text-xl md:text-2xl leading-tight text-gray-900 font-bold">Share your thoughts</h3>
                            <p class="text-gray-500 font-medium">Rate and review your experiences to guide and inspire the community.</p>
                        </div>
                    </div>
                </div>
                <div class="w-full md:w-1/2 px-4">
                    <div class="relative mx-auto md:mr-0 max-w-max">
                        <img width="480"
                             height="480"
                             class="rounded-md"
                             src="{% static 'img/index-features-side.webp' %}"
                             alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
