{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
            {% endblock title %}
            | Digital Dome
        </title>
        <link rel="preconnect" href="https://fonts.bunny.net">
        <link href="https://fonts.bunny.net/css?family=open-sans:400"
              rel="stylesheet" />
        <link rel="stylesheet" href="{% static 'css/base.css' %}" />
        <link rel="apple-touch-icon"
              href="{% static 'apple-touch-icon.png' %}"
              sizes="180x180">
        <link rel="icon" href="{% static 'favicon.ico' %}" sizes="any">
        <link rel="manifest" href="{% static 'site.webmanifest' %}">
        <script src="{% static 'js/alpinejs-3.13.0.min.js' %}" defer></script>
        <script src="{% static 'js/htmx-1.9.5.min.js' %}" defer></script>
    </head>
    <body>
        <div class="max-w-6xl mx-auto">
            {% include "partials/nav.html" %}
            <main class="container my-4 mx-auto">
                {% block content %}
                {% endblock content %}
            </main>
            {% include "partials/footer.html" %}
        </div>
    </body>
</html>
