{% extends "base.html" %}

{% block title %}My Dashboard{% endblock %}

{% block content %}
<div class="flex flex-col gap-4">
    {% include "tracking/partials/menu.html" %}
    <div class="flex flex-col">
        <h2 class="text-2xl font-bold">Recently Completed</h2>
        <table class="table-auto mt-4">
            <thead>
                <tr>
                    <th class="px-4 font-semibold text-xs text-coolGray-500 uppercase text-left rounded-l-md">#</th>
                    <th class="whitespace-nowrap px-4 font-semibold text-xs text-coolGray-500 uppercase text-center">Title</th>
                </tr>
            </thead>
            <tbody>
                {% for object in completed_list %}
                <tr>
                    <td class="whitespace-nowrap px-4 text-left text-sm font-medium text-coolGray-800">
                        {{ forloop.counter }}
                    </td>
                <td class="whitespace-nowrap px-4 text-center text-sm font-medium text-coolGray-800">{{ object.content_object.name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="flex flex-col justify-center">
        <h2 class="text-2xl font-bold">In progress</h2>
        <table class="table-auto mt-4">
            <thead>
                <tr>
                    <th class="px-4 font-semibold text-xs text-coolGray-500 uppercase text-left rounded-l-md">#</th>
                    <th class="whitespace-nowrap px-4 font-semibold text-xs text-coolGray-500 uppercase text-center">Title</th>
                </tr>
            </thead>
            <tbody>
                {% for object in in_progress_list %}
                <tr>
                    <td class="whitespace-nowrap px-4 text-left text-sm font-medium text-coolGray-800">
                        {{ forloop.counter }}    
                    </td>
                <td class="whitespace-nowrap px-4 text-center text-sm font-medium text-coolGray-800">{{ object.content_object.name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
