{% extends "base.html" %}
{% load digitaldome_tags %}

{% block title %}Change form{% endblock %}

{% block content %}
<div class="max-w-lg mx-auto">
    <form method="POST" action="{% url 'tracking:track' entity|verbosename entity.id  %}">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-control">
            <label class="label"><span class="label-text">Status</span></label>
            {{ form.status|addclass:"input input-bordered" }}
            {{ form.status.errors }}
        </div>
        <button class="btn btn-primary w-full mt-4">Save</button>
    </form>
</div>
{% endblock %}
