{% extends "base.html" %}
{% load digitaldome_tags entities %}
{% block title %}
    {{ entity_type|title }}
{% endblock title %}
{% block content %}
    <div class="flex flex-col gap-4">
        {% include "users/partials/menu.html" %}
        <div class="flex flex-col">
            <h2 class="text-2xl font-bold">{{ entity_type|title }}</h2>
            <form method="get" class="flex flex-row mt-2">
                <select name="{{ filter.form.status.name }}"
                        class="select select-secondary h-8 min-h-0 py-0">
                    {% for option in filter.form.status.field.choices %}
                        {% if option.0 != '' %}
                            <option value="{{ option.0 }}"
                                    {% if option.0 == filter.form.status.data|toint %}selected{% endif %}>
                                {{ option.1 }}
                            </option>
                        {% endif %}
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-secondary ml-4 h-8 min-h-0">Filter</button>
            </form>
            <div class="grid grid-cols-[1fr_3fr_4fr_3fr] gap-4 mt-4 font-medium text-sm text-coolGray-800">
                <!-- Header Row -->
                <div class="font-semibold text-xs uppercase text-left px-4">#</div>
                <div class="font-semibold text-xs uppercase text-left px-4"></div>
                <div class="font-semibold text-xs uppercase text-center px-4">Title</div>
                <div class="font-semibold text-xs uppercase text-center px-4">Status</div>
                {% for object in page_obj %}
                    <a href="{% url 'entities:entities-detail' entity_type object.content_object.id %}"
                       class="contents hover:bg-gray-100 transition">
                        <div class="px-4 py-2 text-left">{{ forloop.counter0|add:page_obj.start_index }}</div>
                        <div class="px-4 py-2 text-left">
                            <img src="{{ object.content_object.image|imageurl }}"
                                 class="w-full md:w-10"
                                 alt="">
                        </div>
                        <div class="px-4 py-2 text-center">{{ object.content_object.name }}</div>
                        <div class="px-4 py-2 text-center">{{ object.get_status_display }}</div>
                    </a>
                {% endfor %}
            </div>
            {% include "partials/pagination.html" %}
        </div>
    </div>
{% endblock content %}
