{% load static %}
<nav class="navbar bg-base-100 xl:px-0">
    <div class="navbar-start">
        <div class="dropdown">
            <label tabindex="0" class="btn btn-ghost lg:hidden">
                <svg xmlns="http://www.w3.org/2000/svg"
                     class="h-5 w-5"
                     fill="none"
                     viewBox="0 0 24 24"
                     stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
                </svg>
            </label>
            <ul tabindex="0"
                class="menu menu-sm dropdown-content mt-2 z-[100] p-2 shadow bg-base-100 rounded-box w-52">
                <li>
                    <a class="py-2" href="{% url 'entities:entities-list' 'movies' %}">Movies</a>
                </li>
                <li>
                    <a class="py-2" href="{% url 'entities:entities-list' 'shows' %}">Shows</a>
                </li>
                <li>
                    <a class="py-2" href="{% url 'entities:entities-list' 'books' %}">Books</a>
                </li>
                <li>
                    <a class="py-2" href="{% url 'entities:entities-list' 'games' %}">Games</a>
                </li>
                <li>
                    <a class="py-2" href="{% url 'entities:entities-search' %}">Search</a>
                </li>
            </ul>
        </div>
        <a href="{% url 'index' %}" class="btn btn-ghost normal-case text-xl">
            <img width="418"
                 height="418"
                 src="{% static 'img/logo.png' %}"
                 alt="Digital Dome"
                 class="w-8">
            <span class="text-xl font-bold">Digital Dome</span>
        </a>
    </div>
    <div class="navbar-center hidden lg:flex">
        <ul class="menu menu-horizontal px-1">
            <li>
                <a href="{% url 'entities:entities-list' 'movies' %}">Movies</a>
            </li>
            <li>
                <a href="{% url 'entities:entities-list' 'shows' %}">Shows</a>
            </li>
            <li>
                <a href="{% url 'entities:entities-list' 'books' %}">Books</a>
            </li>
            <li>
                <a href="{% url 'entities:entities-list' 'games' %}">Games</a>
            </li>
            <li>
                <a href="{% url 'entities:entities-search' %}">Search</a>
            </li>
        </ul>
    </div>
    <div class="navbar-end">
        {% if request.user.is_authenticated %}
            <a class="mr-2 hidden md:block"
               href="{% url 'tracking:dashboard' request.user.id %}">{{ request.user.username }}</a>
            <div x-data="{ open: false }"
                 @click.outside="open=false"
                 class="dropdown dropdown-bottom dropdown-end">
                <button @click="open=!open" class="cursor-pointer pl-2 align-bottom">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="24"
                         height="24"
                         viewBox="0 0 24 24">
                        <path fill="currentColor" d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" />
                    </svg>
                </button>
                <ul x-show="open"
                    class="absolute z-[100] origin-top-left top-0 w-36 mt-4 dropdown-content menu bg-base-100 shadow rounded-box"
                    x-transition
                    x-cloak>
                    <li>
                        <a class="block md:hidden"
                           href="{% url 'tracking:dashboard' request.user.id %}">{{ request.user.username }}</a>
                    </li>
                    <!-- Separator -->
                    <div class="h-px my-2 bg-base-200"></div>
                    <li>
                        <a href="{% url 'users:settings' %}">Settings</a>
                    </li>
                    <li>
                        <a href="{% url 'integrations:import-tracking-data' %}">Import/export</a>
                    </li>
                    <li>
                        <a href="{% url 'users:logout' %}">Log out</a>
                    </li>
                </ul>
            </div>
        {% else %}
            <a class="btn" href="{% url 'users:login' %}">Sign in</a>
        {% endif %}
    </div>
</nav>
