{% extends "base.html" %}
{% load digitaldome_tags entities %}
{% block title %}
    Create new item
{% endblock title %}
{% block content %}
    <div class="flex justify-center">
        <ul class="w-60">
            {% for entity_type in entity_types %}
                <li class="w-full mt-2">
                    <a href="{% url 'entities:entities-create' entity_type.0 %}">
                        <span class="btn w-full" style="background-color: {{ entity_type.1 }}">Create new {{ entity_type.0 }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}
