{% extends "base.html" %}
{% load digitaldome_tags entities %}
{% block title %}
    {{ entity_type|title }}
{% endblock title %}
{% block content %}
    <h2 class="text-2xl font-bold mb-4">{{ entity_type|title }}</h2>
    <div class="mb-4">
        <form method="get"
              class="relative flex justify-center md:justify-normal w-96">
            <input type="search"
                   name="{{ filter.form.search.name }}"
                   placeholder="Search..." />
            <button class="relative z-[2] flex items-center rounded-r bg-primary px-6 py-2.5 text-xs font-medium uppercase leading-tight text-white shadow-md transition duration-150 ease-in-out hover:bg-primary-700 hover:shadow-lg focus:bg-primary-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-primary-800 active:shadow-lg">
                <svg xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 20 20"
                     fill="currentColor"
                     class="h-5 w-5">
                    <path fill-rule="evenodd" d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z" clip-rule="evenodd" />
                </svg>
            </button>
        </form>
    </div>
    {% if page_obj %}
        <div class="grid grid-cols-2 md:grid-cols-4 xl:grid-cols-5 md:gap-x-6 gap-y-6 justify-items-center">
            {% for object in page_obj %}
                <div class="card image-full w-40 md:w-48">
                    <figure>
                        <img width="192" height="288" src="{{ object.image|imageurl }}" alt="" />
                    </figure>
                    <div class="card-body p-4">
                        <span class="card-title text-base">{{ object.name }}</span>
                        <a href="{% url 'entities:entities-detail' object|verbosename object.id %}"
                           rel="noopener noreferrer"
                           class="absolute left-0 top-0 right-0 bottom-0 text-transparent outline-none no-underline"></a>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% include "partials/pagination.html" %}
    {% else %}
        <h3 class="text-xl py-4 text-center">No {{ entity_type }} found.</h3>
    {% endif %}
{% endblock content %}
