{% extends "base.html" %}
{% load digitaldome_tags %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
<div class="flex flex-wrap">
    {% for object in object_list %}
    <div class="card image-full">
        <figure>
            <img src="{{ object.cover.url }}" alt="" />
        </figure>
        <div class="card-body">
          <h2 class="card-title">{{ object.name }}</h2>
          <a href="{% url 'entities:entities-detail' object|verbosename object.id %}" rel="noopener noreferrer"
                class="absolute left-0 top-0 right-0 bottom-0 text-transparent outline-none no-underline"></a>
        </div>
      </div>
    {% endfor %}
</div>
{% endblock %}
