{% load static %}
<footer class="border-t-3 border-black py-4 mt-8 mb-2">
    <div class="flex items-center justify-between px-4">
        <p class="text-sm font-bold">
            Copyright © Kamil Marut {% now "Y" %} |
            <a class="text-neo-pink hover:text-pink-800" href="https://github.com/exler/dome" rel="noreferrer">GitHub</a>
        </p>
        <div class="flex gap-2">
            <div class="w-6 h-6 bg-neo-yellow border-2 border-black"></div>
            <div class="w-6 h-6 bg-neo-pink border-2 border-black"></div>
            <div class="w-6 h-6 bg-black border-2 border-black"></div>
        </div>
    </div>
</footer>
