{% load dome_tags %}
<div class="{% if page_obj.has_next or page_obj.has_previous %}flex gap-1 {% endif %} mt-6 flex-row justify-center">
    {% if page_obj.has_previous %}
        <a href="{% merge_query_params page=page_obj.previous_page_number %}"
           class="btn btn-outline text-xs py-1 px-3">«</a>
    {% endif %}
    {% for page_number in page_obj.adjusted_elided_pages %}
        {% if page_number == page_obj.paginator.ELLIPSIS %}
            <span class="btn btn-outline text-xs py-1 px-3">...</span>
        {% elif page_number == page_obj.number %}
            <span class="btn btn-primary text-xs py-1 px-3">{{ page_number }}</span>
        {% else %}
            <a href="{% merge_query_params page=page_number %}"
               class="btn btn-outline text-xs py-1 px-3">{{ page_number }}</a>
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
        <a href="{% merge_query_params page=page_obj.next_page_number %}"
           class="btn btn-outline text-xs py-1 px-3">»</a>
    {% endif %}
</div>
