{% extends "base.html" %}
{% load digitaldome_tags %}
{% block title %}
    Sign in
{% endblock title %}
{% block content %}
    <div class="container px-4 mx-auto">
        <div class="max-w-lg mx-auto">
            <form method="post" action="{% url 'users:login' %}">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">{{ form.email.label }}</span>
                    </label>
                    {{ form.email|addclass:"input input-bordered" }}
                    {{ form.email.errors }}
                </div>
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">{{ form.password.label }}</span>
                    </label>
                    {{ form.password|addclass:"input input-bordered" }}
                    {{ form.password.errors }}
                </div>
                <div class="flex flex-wrap mb-6 items-center justify-between">
                    <div class="form-control">
                        <label class="label cursor-pointer">
                            {{ form.remember_me|addclass:"checkbox mr-2" }}
                            <span class="label-text">{{ form.remember_me.label }}</span>
                        </label>
                    </div>
                    <div>
                        <a href="{% url 'users:reset-password' %}"
                           class="text-indigo-500 hover:underline">Forgot your password?</a>
                    </div>
                </div>
                <button class="btn btn-primary w-full">Sign in</button>
                <p class="text-center mt-4">
                    Don't have an account?
                    <a class="text-indigo-500 hover:underline"
                       href="{% url 'users:register' %}">Sign up</a>
                </p>
            </form>
        </div>
    </div>
{% endblock content %}
