{% extends "base.html" %}
{% load digitaldome_tags %}

{% block title %}Sign up{% endblock %}

{% block content %}
<div class="container px-4 mx-auto">
    <div class="max-w-lg mx-auto">
        <form method="POST" action="{% url 'users:register' %}">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form-control">
                <label class="label"><span class="label-text">{{ form.email.label }}</span></label>
                {{ form.email|addclass:"input input-bordered" }}
                {{ form.email.errors }}
            </div>
            <div class="form-control">
                <label class="label"><span class="label-text">{{ form.display_name.label }}</span></label>
                {{ form.display_name|addclass:"input input-bordered" }}
                {{ form.display_name.errors }}
            </div>
            <div class="form-control">
                <label class="label"><span class="label-text">{{ form.password.label }}</span></label>
                {{ form.password|addclass:"input input-bordered" }}
                {{ form.password.errors }}
            </div>
            <div class="form-control">
                <label class="label"><span class="label-text">{{ form.confirm_password.label }}</span></label>
                {{ form.confirm_password|addclass:"input input-bordered" }}
                {{ form.confirm_password.errors }}
            </div>
            <button class="btn btn-primary w-full mt-6">Sign Up</button>
            <p class="text-center mt-4">Already have an account? 
                <a class="text-indigo-500 hover:underline" href="{% url 'users:login' %}">Sign In</a></p>
        </form>
    </div>
</div>
{% endblock %}
