{% extends "base.html" %}
{% load static digitaldome_tags %}
{% block title %}
    Enter New Password
{% endblock title %}
{% block content %}
    <div class="container px-4 mx-auto">
        <div class="max-w-lg mx-auto">
            {% if valid_link %}
                <form action="{% url 'users:reset-password-confirm' token %}" method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">New Password</span>
                        </label>
                        {{ form.password|addclass:"input input-bordered" }}
                        {{ form.password.errors }}
                    </div>
                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">Confirm new password</span>
                        </label>
                        {{ form.confirm_password|addclass:"input input-bordered" }}
                        {{ form.confirm_password.errors }}
                    </div>
                    <div class="form-control mt-6">
                        <button type="submit" class="btn btn-primary">Reset Password</button>
                    </div>
                </form>
            {% else %}
                <div class="card flex-shrink-0 w-full mx-auto max-w-sm bg-base-200">
                    <div class="card-body">
                        <h2 class="card-title">Password reset link is invalid</h2>
                        <p class="card-subtitle text-base-content text-opacity-60">Please request a new password reset link</p>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}
