{% extends "base.html" %}
{% load digitaldome_tags %}
{% block title %}
    Settings
{% endblock title %}
{% block content %}
    <div class="container px-4 mx-auto">
        <div class="max-w-lg mx-auto">
            <form method="post"
                  action="{% url 'users:settings' %}"
                  enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">{{ form.avatar.label }}</span>
                    </label>
                    {{ form.avatar|addclass:"file-input file-input-bordered" }}
                    {{ form.avatar.errors }}
                </div>
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">Bio</span>
                    </label>
                    {{ form.bio|addclass:"input input-bordered h-24" }}
                    {{ form.bio.errors }}
                </div>
                <button class="btn btn-primary w-full mt-4">Update your settings</button>
            </form>
        </div>
    </div>
{% endblock content %}
