{% load static %}
<div class="flex flex-row items-end" x-data="preview()">
    <img x-show="!imageUrl"
         src="{% firstof widget.value.url widget.attrs.placeholder %}"
         width="{{ widget.attrs.width }}"
         height="{{ widget.attrs.height }}"
         alt=""
         class="border-2 border-gray-200 mr-2">
    <img x-show="imageUrl"
         :src="imageUrl"
         width="{{ widget.attrs.width }}"
         height="{{ widget.attrs.height }}"
         alt=""
         class="border-2 border-gray-200 mr-2">
    <input type="{{ widget.type }}"
           name="{{ widget.name }}"
           x-on:change="updateImagePreview($event)"
           {% include "django/forms/widgets/attrs.html" %}>
    <div class="flex flex-col items-center ml-2">
        <input type="checkbox"
               name="{{ widget.checkbox_name }}"
               id="{{ widget.checkbox_id }}"
               class="transform scale-75"
               {% if widget.attrs.disabled %}disabled{% endif %}>
        <label for="{{ widget.checkbox_id }}" class="text-sm font-bold">{{ widget.clear_checkbox_label }}</label>
    </div>
</div>
<script>
function preview() {
    return { 
        imageUrl: null,
        updateImagePreview(event) {
            const file = event.target.files[0];
            if (file) {
                this.imageUrl = URL.createObjectURL(file); 
            }
        } 
    }
}
</script>
