{% spaceless %}
    <div class="w-full flex flex-col md:flex-row items-center self-center space-x-2">
        {% for widget in widget.subwidgets %}
            {% if forloop.counter0 == 0 %}
                <label for="{{ widget.attrs.id }}">Hours:</label>
            {% elif forloop.counter0 == 1 %}
                <label for="{{ widget.attrs.id }}">Minutes:</label>
            {% endif %}
            <div class="w-full">{% include widget.template_name %}</div>
        {% endfor %}
    </div>
{% endspaceless %}
