{% extends "base.html" %}
{% load digitaldome_tags %}
{% block title %}
    Import/export library
{% endblock title %}
{% block content %}
    <div class="container px-4 mx-auto">
        <div class="max-w-lg mx-auto">
            <form method="post"
                  action="{% url 'integrations:import-tracking-data' %}"
                  enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">{{ form.import_format.label }}</span>
                    </label>
                    {{ form.import_format|addclass:"input input-bordered" }}
                    {{ form.import_format.errors }}
                </div>
                <div class="form-control">
                    <label class="label">
                        <span class="label-text">{{ form.import_file.label }}</span>
                    </label>
                    {{ form.import_file|addclass:"file-input file-input-bordered" }}
                    {{ form.import_file.errors }}
                </div>
                <button class="btn btn-primary w-full mt-4">Import</button>
            </form>
            <div class="h-px my-8 bg-base-200"></div>
            <h2 class="text-lg font-bold">Export</h2>
            <p class="text-sm text-gray-500">Export all tracking data as a CSV file.</p>
            <a href="{% url 'integrations:export-tracking-data' %}"
               class="btn btn-primary w-full mt-4">Export</a>
        </div>
    </div>
{% endblock content %}
